[submodule "libs/DPF"]
	path = libs/DPF
	url = https://github.com/DISTRHO/DPF
[submodule "extern/NeuralAmpModelerPlugin"]
	path = extern/NeuralAmpModelerPlugin
	url = https://github.com/sdatkinson/NeuralAmpModelerPlugin
